<div class="page-header">
  <h3>
    <%= link_to @test.test_name, @test %>
  </h3>
</div>

<%if @test.status != "completed"  and current_user.teacher?%>
<div class="row">
  
  <div class="col-md-6 col-sm-6 pull-right">
<<<<<<< HEAD
    <button class="btn btn-primary" type="button" id="button_one" test_id="<%=@test.id%>" >Select QuestionType!</button>
=======

      <%= button_to "Create Multiple Choice Question", new_multiple_choice_question_path, method: :get, params: {test_id: @test.id} , "onclick" => "createQuestion()", "id" => "button", :class => 'btn btn-primary'%>
    </div>

  <div class="col-md-6 col-sm-6 pull-left">

      <%= button_to "Create Descriptive Question", new_descriptive_question_path, method: :get, params: {test_id: @test.id} , "onclick" => "createQuestion()", "id" => "button", :class => 'btn btn-primary'%>
>>>>>>> 657b4040945240e49b8f5134290154befbcc3887
  </div>
</div>
<%end %>


<div class="row">
  <% @total_questions.each do |tq| %>
  <%if tq.question_type == 'multiple_choice' %>
  <p>
    <strong>Question:</strong>
    <%= tq.description %>
  </p>

<%= image_tag mcq.image.url(:medium) %>

  <p>
    <strong>Option 1:</strong>
    <%= tq.option_1 %>
  </p>

  <p>
    <strong>Option 2:</strong>
    <%= tq.option_2 %>
  </p>

  <p>
    <strong>Option 3:</strong>
    <%= tq.option_3 %>
  </p>

  <p>
    <strong>Option 4:</strong>
    <%= tq.option_4 %>
  </p>
  </br>
  <p>
    <strong>Answer:</strong>
    <%= tq.answer %>
  </p>

  <%if @test.status != "completed"  and current_user.teacher?%>
  <div class="col-md-6 col-sm-6 pull-right">
    <%= button_to "Edit Question", edit_multiple_choice_question_path(tq), method: :get, params: {page: params[:page]}, :class => 'btn btn-primary'%>
  </div>
  <% end %>
  <%else %>
  <p>
    <strong>Question:</strong>
    <%= tq.description %>
  </p>
  <p>
    <strong>Answer:</strong>
    <%= tq.answer %>
  </p>
  <%if @test.status != "completed" and current_user.teacher?%>
  <div class="col-md-6 col-sm-6 pull-right">
    <%= button_to "Edit Question", edit_descriptive_question_path(tq), method: :get, params: {page: params[:page]}, :class => 'btn btn-primary'%>
  </div>
  <% end %>
  <%end%>
  <% end %>
  <%= will_paginate @total_questions %>
</div>


<div class="row">
  <% @descriptive_questions.each do |des| %>
  <p>
    <strong>Question:</strong>
    <%= des.description %>
  </p>

<%= image_tag des.image.url(:medium) %>

  </br>
  <p>
    <strong>Answer:</strong>
    <%= des.answer %>
  </p>

  <%if @test.status != "completed"%>
  <div class="col-md-6 col-sm-6 pull-right">
    <%= button_to "Edit Question", edit_descriptive_question_path(des), method: :get, params: {page: params[:page]}, :class => 'btn btn-primary'%>
  </div>
  <% end %>
  <% end %>
  <%= will_paginate @descriptive_questions %>
</div>
