<div class="page-header">
  <h3>
    <%= link_to @test.test_name, @test %>
  </h3>
</div>

<%if @test.status != "completed"%>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="form-group">
      <select class="form-control" name="select1" id="selectQuestion">
        <option value="1" >Multiple Choice Question</option>
        <option value="2">Descriptive Question</option>
      </select>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 pull-right">
    <%= button_to "Create Question", new_multiple_choice_question_path, method: :get, params: {test_id: @test.id} , "onclick" => "createQuestion()", "id" => "button", :class => 'btn btn-primary'%>
  </div>
</div>
<%end %>
<div class="row">
  <% @multiple_choice_questions.each do |mcq| %>
  <p>
    <strong>Question:</strong>
    <%= mcq.description %>
  </p>

  <p>
    <strong>Option 1:</strong>
    <%= mcq.option_1 %>
  </p>

  <p>
    <strong>Option 2:</strong>
    <%= mcq.option_2 %>
  </p>

  <p>
    <strong>Option 3:</strong>
    <%= mcq.option_3 %>
  </p>

  <p>
    <strong>Option 4:</strong>
    <%= mcq.option_4 %>
  </p>
  </br>
  <p>
    <strong>Answer:</strong>
    <%= mcq.answer %>
  </p>

  <%if @test.status != "completed"%>
  <div class="col-md-6 col-sm-6 pull-right">
    <%= button_to "Edit Question", edit_multiple_choice_question_path(mcq), method: :get, params: {page: params[:page]}, :class => 'btn btn-primary'%>
  </div>
  <% end %>
  <% end %>
  <%= will_paginate @multiple_choice_questions %>
</div>
